{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="fy-De8nRP9dFQZxH88D34Izd_VmTE1SeLxppV19--zQ" />
<meta name="msvalidate.01" content="9FC84D0B63404C9A0FEFBC5633185933" />
    <meta name="description" content="Looking to manage your personal or business finances with ease? Quicken.com is your go-to portal to **download Quicken**, whether you’ve already purchased it or are installing it for the first time." />
    <meta name="keywords" content="quicken download, quicken.com, quicken.com/download, Quicken download already purchased, install Quicken on this computer, quicken.com, Quicken download to new computer, Quicken classic, Quicken download for windows 11, Quicken software" />
    <meta name="robots" content="index, follow" />
    <title>Quicken.com – Portal to Download Quicken on your Device</title>
    {{ super() }}
{% endblock %}
